<ion-content class="login-content" padding>
  <ion-row class="top-row">
    <ion-col>
      <h1 class="label-logo">Facebook Signup</h1>
      <p class="label-description">This app is part of a tutorial to learn how to add Facebook Login to an Ionic App!</p>
    </ion-col>
  </ion-row>
  <ion-row class="bottom-row">
    <ion-col class="login-button">
      <button ion-button block (click)="doFbLogin()">Facebook Login</button>
    </ion-col>
  </ion-row>
</ion-content>
